@media (max-width: 1400px){
    .container{
        padding: 0 30px;
    }
    #seeking_submissions .sk_sub_dtls .accordion .card .card-header{
        padding: 0.5rem 1.25rem;
    }
    #seeking_submissions .sk_sub_dtls .accordion .card-body {
        min-height: 270px;
    }
    #seeking_submissions .sk_sub_dtls .accordion .card .card-header button {
        font-size: 22px;
    }
}

@media (max-width: 1320px){
    #make_meeting .mtng_prcs_ind .img::after {
        content: "";
        border-bottom: 2px solid #1382b9;
        width: 78%;
        position: absolute;
        top: 18%;
      }
}

@media (max-width: 1200px){
    #meeting_wd_agency .main_content .heading {
        margin-bottom: 15px;
    }
    #meeting_wd_agency .process_to_meet .process_individual p {
        font-size: 16px;
    }
    #hero_blo_resources .corona_resources .resources_ttl p {
        font-size: 14px;
    }
    #hero_blo_resources .corona_resources a {
        font-size: 14px;
    }
    #make_meeting .mtng_prcs_ind .img::after {
        content: "";
        border-bottom: 2px solid #1382b9;
        width: 76%;
        position: absolute;
        top: 18%;
      }      
}

@media (max-width: 1139px){
    #make_meeting .mtng_prcs_ind .img::after {
        width: 75%;
        top: 16%;
      }    
}

@media (max-width: 1024px){
    #hero_blo_resources .corona_resources .resources_ttl {
        margin-right: 10px;
    }
    #hero_blo_resources .corona_resources .resources_dtls .sprtr {
        margin: 0 10px;
    }
    #meeting_wd_agency .process_to_meet .process_individual {
        background-size: cover;
    }
    #make_meeting .mtng_prcs_ind .img::after {
        content: "";
        border-bottom: 2px solid #1382b9;
        width: 72%;
        position: absolute;
        top: 14%;
      }      
}


@media (max-width: 991px){
    .sk_sub_dtls {
        margin-top: 30px;
    }
    #seeking_submissions .sk_sub_dtls .accordion .card-body {
        min-height: auto;
        padding-bottom: 30px;
    }
    #seeking_submissions {
        padding: 70px 0 30px;
    }
    #meeting_wd_agency .process_to_meet .process_individual .numbering p {
        font-size: 20px;
        padding: 2px 10px;
    }
    #meeting_wd_agency .process_to_meet .process_individual {
        padding: 40px 12px;
    }
    #meeting_wd_agency .process_to_meet .col-lg-4.col-md-4{
        padding: 0 3px;
    }
    #meeting_wd_agency .process_to_meet .process_individual p {
        font-size: 13px;
    }
    #horizontal_tabs .tabs_main .tabcontent {
        padding: 25px 0 0;
    }
    #horizontal_tabs .tabs_main .tabcontent {
        text-align: center;
    }
    #horizontal_tabs .tabs_main .tabcontent img {
        width: auto;
        margin-top: 10px;
    }
    #horizontal_tabs .tabs_main .tab button {
        line-height: 30px;
        font-size: 18px;
    }
    #mcm_hero .hero_ttl h1 {
        font-size: 35px;
    }
    #mcm_hero .hero_dtls h3 {
        font-size: 18px;
    }
    #mcm_hero .hero_dtls p {
        font-size: 18px;
        line-height: 30px;
    }
    #hero_blo_resources .corona_resources .resources_dtls {
        display: flex;
        align-items: center;
        margin-top: -8px;
    }
    #hero_blo_resources .corona_resources .resources_ttl p {
        font-size: 11px;
    }
    #hero_blo_resources .corona_resources a {
        font-size: 11px;
    }
    .process_individual.first {
        padding: 57px 12px !important;
    }
    #meeting_wd_agency .process_to_meet .process_individual.lst {
        background: #fff !important;
        padding: 30px 12px;
        margin-top: 0
    }
    #make_meeting .mtng_prcs_ind .img::after {
        content: "";
        border-bottom: 2px solid #1382b9;
        width: 70%;
        position: absolute;
        top: 14%;
    }     
}

@media (max-width: 823px){
    #make_meeting .mtng_prcs_ind .img::after {
        width: 64%;
        top: 12%;
    }
}

@media (max-width: 767px){
    .container {
        padding: 0 15px;
    }
    #mcm_hero {
        padding: 150px 0;
    }
    #horizontal_tabs .tabs_main .tabcontent img {
        width: 100%;
        margin-top: 10px;
    }
    #mcm_hero .hero_ttl h1 {
        font-size: 30px;
    }
    #hero_blo_resources .corona_resources .resources_dtls {
        display: block;
    }
    #hero_blo_resources .corona_resources .resources_dtls .sprtr {
        display: none;
    }
    #hero_blo_resources{
        padding: 10px 0;
    }
    #hero_blo_resources .corona_resources {
        display: block;
        text-align: center;
    }
    #hero_blo_resources .corona_resources .resources_ttl {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .sec_ttl h3 {
        font-size: 24px;
    }
    .content_individual {
        margin-bottom: 30px;
    }
    #response_dashboard {
        padding: 50px 0 30px;
    }
    #seeking_submissions {
        padding: 50px 0 30px;
    }
    .sk_sub_dtls {
        margin-top: 10px;
    }
    #seeking_submissions .sk_sub_dtls .accordion .card {
        margin-bottom: 10px;
    }
    #seeking_submissions .sk_sub_dtls .accordion .card .card-header button {
        font-size: 18px;
    }
    #meeting_wd_agency .main_content .heading {
        font-size: 26px;
    }
    #meeting_wd_agency .process_to_meet {
        padding: 30px 15px 0;
    }
    .process_individual.first {
        padding: 80px 20px !important;
        margin-bottom: 20px !important;
    }
    #meeting_wd_agency .process_to_meet .process_individual {
        padding: 45px 20px;
        margin-bottom: 35px;
    }
    #meeting_wd_agency .process_to_meet .process_individual.lst {
        padding: 30px 20px;
    }
    #meeting_wd_agency {
        padding: 70px 0 30px;
    }
    #corona_tech_watch .main_ttl h3 {
        font-size: 32px;
    }
    #meeting_wd_agency .process_to_meet .process_individual p {
        font-size: 18px;
    }
    #horizontal_tabs .tabs_main .tab button {
        width: 100%;
    }
    #make_meeting .mtng_prcs_ind .img::after {
        display: none;
    }
    .desktop_view{
        display: none;
    }
    .mobile_view{
        display: block !important;
    }
    .mtng_prcs_ind {
        margin-bottom: 40px;
    }
    .mtng_prcs_ind::after{
        content: "";
        border-right: 2px solid #1382b9;
        height: 30px;
        position: absolute;
        left: 49.8%;
    }
    .mtng_prcs_ind.last::after{
        border-right: none;
    }
}