* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.container {
  max-width: 1370px;
  margin: auto;
}

/*************************************** hero banner *****************************************/
#mcm_hero {
  background: url(../Images/banner_img.png) no-repeat center;
  background-size: cover;
  padding: 200px 0;
}

#mcm_hero .hero_ttl h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: white;
  font-size: 48px;
  margin-bottom: 30px;
}

#mcm_hero .hero_dtls h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: white;
  margin-bottom: 0;
  font-size: 21px;
  margin-bottom: 10px;
}

#mcm_hero .hero_dtls p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 21px;
  color: white;
  line-height: 35px;
  margin-bottom: 0;
}

/************************************* corona resources *********************************/
#hero_blo_resources {
  background: #222222;
  padding: 20px 0;
  margin-top: -1px;
}

#hero_blo_resources .corona_resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero_blo_resources .corona_resources p {
  margin-bottom: 0;
}

#hero_blo_resources .corona_resources a {
  font-family: 'Montserrat';
  font-size: 16px;
  color: white;
  text-decoration: underline;
}

#hero_blo_resources .corona_resources .resources_ttl {
  margin-right: 22px;
}

#hero_blo_resources .corona_resources .resources_ttl p {
  color: white;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
}

#hero_blo_resources .corona_resources .resources_dtls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero_blo_resources .corona_resources .resources_dtls .sprtr {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 15px;
}

/******************************** response_dashboard ********************************/
.sec_ttl {
  margin-bottom: 30px;
}

.sec_ttl h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #1e1e24;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

.sec_ttl p {
  font-family: 'Roboto';
  font-weight: 400;
  color: #404040;
  font-size: 20px;
  text-align: center;
  margin: 15px 0 0;
  line-height: 33px;
}

#response_dashboard {
  padding: 70px 0;
  background: #f8f8f8;
}

#response_dashboard .content_individual {
  text-align: center;
}

#response_dashboard .content_individual .content_img img {
  width: initial;
}

#response_dashboard .content_individual .content_dtl {
  margin-top: 20px;
}

#response_dashboard .content_individual .content_dtl p {
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 0;
  font-weight: 400;
  color: #1e1e24;
}

/********************************* seeking_submissions ********************************/
#seeking_submissions {
  padding: 70px 0;
}

#seeking_submissions .sk_sub_img {
  height: 100%;
}

#seeking_submissions .sk_sub_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#seeking_submissions .sk_sub_dtls .accordion .card {
  margin-bottom: 25px;
  border: none;
}

#seeking_submissions .sk_sub_dtls .accordion .card .card-header {
  margin-bottom: -2px;
}

#seeking_submissions .sk_sub_dtls .accordion .card .card-header button {
  color: #366fc0;
  font-size: 25px;
  font-family: 'Montserrat';
  font-weight: 700;
}

#seeking_submissions .sk_sub_dtls .accordion .card .card-header button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

#seeking_submissions .sk_sub_dtls .accordion .card .card-header button.plus {
  background: url(../Images/plus.svg) no-repeat right;
  background-size: 25px;
}

#seeking_submissions .sk_sub_dtls .accordion .card .card-header button.minus {
  background: url(../Images/minus.svg) no-repeat right;
  background-size: 25px;
}

#seeking_submissions .sk_sub_dtls .accordion .card.last {
  margin-bottom: 0 !important;
}

#seeking_submissions .sk_sub_dtls .accordion .card-body {
  background: #f8f8f8;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  color: #1e1e24;
  padding: 0 35px 20px;
  min-height: 256px;
}

/*************************************** meeting_wd_agency ***************************************/
#meeting_wd_agency {
  padding: 70px 0;
  background: #f8f8f8;
}

#meeting_wd_agency .main_content {
  text-align: center;
}

#meeting_wd_agency .main_content .heading {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 30px;
  color: #404040;
  margin-bottom: 10px;
}

#meeting_wd_agency .main_content .info {
  font-family: 'Roboto';
  font-weight: 700;
  color: #02554c;
  font-size: 17px;
  margin-bottom: 20px;
}

#meeting_wd_agency .main_content .yon {
  font-family: 'Roboto';
  font-weight: 700;
  color: #404040;
  font-size: 21px;
  margin-bottom: 10px;
}

#meeting_wd_agency .process_to_meet {
  padding: 30px 0;
}

#meeting_wd_agency .process_to_meet .process_individual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../Images/Untitled-8.png) no-repeat;
  background-position: right;
  background-size: contain;
  padding: 70px 20px;
}

#meeting_wd_agency .process_to_meet .process_individual p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: #404040;
  margin-bottom: 0;
}

#meeting_wd_agency .process_to_meet .process_individual .numbering {
  margin-right: 15px;
}

#meeting_wd_agency .process_to_meet .process_individual .numbering p {
  font-size: 33px;
  font-weight: 700;
  color: #fff;
  background: #366fc0;
  padding: 7px 20px;
  border-radius: 50%;
}

#meeting_wd_agency .process_to_meet .process_individual .process_info span {
  color: #92140c;
  font-weight: 700;
}

#meeting_wd_agency .process_to_meet .process_individual .process_info a:hover {
  text-decoration: underline;
}

#meeting_wd_agency .process_to_meet .process_individual .process_info.mdl p {
  padding-right: 20%;
}

#meeting_wd_agency .process_to_meet .process_individual.lst {
  background: #fff !important;
  padding: 45px 20px;
  margin-top: 25px;
}

#meeting_wd_agency .btm_info {
  font-family: 'Roboto';
  font-size: 20px;
  color: #404040;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}

#meeting_wd_agency .meeting_for {
  margin: 40px 0;
  padding: 0 12px;
}

#meeting_wd_agency .meeting_for .col-lg-6 {
  padding: 3px;
}

#meeting_wd_agency .meeting_for .col-lg-6 .meeting_for_individual {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#meeting_wd_agency .meeting_for .col-lg-6 .meeting_for_individual a {
  text-align: center;
}

#meeting_wd_agency .meeting_for .col-lg-6 .meeting_for_individual a:hover {
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}

#meeting_wd_agency .meeting_for .col-lg-6 .meeting_for_individual a h3 {
  font-family: 'Montserrat';
  font-size: 25px;
  color: white;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}

#meeting_wd_agency .meeting_for .col-lg-6 .meeting_for_individual a h3:hover {
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}

#meeting_wd_agency .meeting_for .col-lg-6 .meeting_for_individual a p {
  font-family: 'Roboto';
  font-size: 21px;
  color: white;
  margin-bottom: 0;
}

#meeting_wd_agency .meeting_for .col-lg-6 .meeting_for_individual a p:hover {
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}

#meeting_wd_agency .meeting_for .meeting_for_individual.vaccine {
  background: url(../Images/vaccine.png) no-repeat center;
  background-size: cover;
}

#meeting_wd_agency .meeting_for .meeting_for_individual.diagnostic {
  background: url(../Images/diagnostics.png) no-repeat center;
  background-size: cover;
}

#meeting_wd_agency .meeting_for .meeting_for_individual.therapy {
  background: url(../Images/therapybg.png) no-repeat center;
  background-size: cover;
}

#meeting_wd_agency .meeting_for .meeting_for_individual.other {
  background: url(../Images/Untitled-10.png) no-repeat center;
  background-size: cover;
}

#meeting_wd_agency .sec_btm_para p {
  font-family: 'Roboto';
  font-size: 21px;
  color: #404040;
  font-weight: 400;
  text-align: left;
}

/************************************ corona_tech_watch *********************************/
#corona_tech_watch {
  padding: 70px 0;
  background: url(../Images/Untitled-14.png) no-repeat center;
  background-size: cover;
}

#corona_tech_watch .main_ttl h3 {
  font-family: 'Montserrat';
  font-size: 36px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}

#corona_tech_watch .main_dtls p {
  font-family: 'Roboto';
  font-size: 21px;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
  line-height: 33px;
}

#corona_tech_watch .main_btn button {
  color: white;
  font-family: 'Roboto';
  font-size: 21px;
  font-weight: 500;
  padding: 10px 30px;
  background: transparent;
  border: 2px solid #fff;
  margin-top: 10px;
  border-radius: 0;
}

#corona_tech_watch .main_btn button:hover {
  background: #fff;
  color: #02554d;
}

/**************************************** Horizontal tabs ***********************************/
#horizontal_tabs {
  padding: 70px 0;
}

#horizontal_tabs .tabs_main .tab {
  overflow: hidden;
}

#horizontal_tabs .tabs_main .tab button {
  background-color: inherit;
  float: left;
  width: 32.5%;
  min-height: 130px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 25px 10px;
  line-height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #c67204;
  font-size: 25px;
  margin: 0 0.41%;
  font-family: 'Montserrat';
  font-weight: 700;
  background-color: #f8f8f8;
}

#horizontal_tabs .tabs_main .tab button:hover {
  background-color: #ddd;
}

#horizontal_tabs .tabs_main .tab button.active {
  background-color: #c67204;
  color: white;
}

#horizontal_tabs .tabs_main .tab button .tab_img {
  width: 20px;
  content: url("../Images/down2.svg");
}

#horizontal_tabs .tabs_main .tab button .tab_img.active {
  content: url("../Images/down.svg");
}

#horizontal_tabs .tabs_main .tabcontent {
  display: none;
  padding: 50px 0 0;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

#horizontal_tabs .tabs_main .tabcontent.visible {
  display: block;
}

#horizontal_tabs .tabs_main .tabcontent .fas.fa-check {
  margin-right: 5px;
}

#horizontal_tabs .tabs_main .tabcontent img {
  width: 100%;
}

#horizontal_tabs .tabs_main .tabcontent ul li {
  list-style: none;
}

#horizontal_tabs .tabs_main .tabcontent ul li::before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 0;
  width: 1.3em;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#make_meeting {
  padding: 30px 0 50px;
  background: #f8f8f8;
  text-align: center;
}

#make_meeting .mobile_view {
  display: none;
}

#make_meeting .mtng_prcs_ind {
  cursor: pointer;
}

#make_meeting .mtng_prcs_ind:hover .fas {
  color: white !important;
  background: #1382b9;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#make_meeting .mtng_prcs_ind:hover .far {
  color: white !important;
  background: #1382b9;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#make_meeting .mtng_prcs_ind .img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
}

#make_meeting .mtng_prcs_ind .img::after {
  content: "";
  border-bottom: 2px solid #1382b9;
  width: 80%;
  position: absolute;
  top: 17%;
}

#make_meeting .mtng_prcs_ind .img .fas {
  font-size: 30px;
  color: #1382b9;
  padding: 15px;
  border: 2px solid #1382b9;
  border-radius: 50%;
}

#make_meeting .mtng_prcs_ind .img .fas.fa-comments {
  font-size: 30px;
  color: #1382b9;
  padding: 15px 13px;
  border: 2px solid #1382b9;
  border-radius: 50%;
}

#make_meeting .mtng_prcs_ind .img .far {
  font-size: 30px;
  color: #1382b9;
  padding: 15px 13px;
  border: 2px solid #1382b9;
  border-radius: 50%;
}

#make_meeting .mtng_prcs_ind .img .far.fa-file-alt {
  font-size: 30px;
  color: #1382b9;
  padding: 15px 18px;
  border: 2px solid #1382b9;
  border-radius: 50%;
}

#make_meeting .mtng_prcs_ind .img.last::after {
  border-bottom: none;
}

#make_meeting .mtng_prcs_ind .info .ttl a {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #5e5e5e;
}

#make_meeting .mtng_prcs_ind .info .ttl a span {
  color: #ac0000;
  font-size: 14px;
  font-weight: 700;
  margin: 0 2px;
}

#make_meeting .mtng_prcs_ind .info .ttl .prcs_ttl {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  color: #5e5e5e;
  margin-bottom: 3px;
}

#make_meeting .mtng_prcs_ind .info .dtls p {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: #5e5e5e;
  margin-bottom: 0px;
  line-height: 25px;
}

#make_meeting .notice_line .fas.fa-ban {
  color: #02554c;
  font-weight: 700;
  font-size: 14px;
  margin-right: 2px;
}

#make_meeting .notice_line p {
  color: #02554c;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */